body{
    background-color: rgb(70,142, 236);
    font-family: sans-serif;
    
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#dados{
    background-color: white;
    padding: 15px;
    margin: 10px;   
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    

}