@charset "UTF-8";

body{
    font-family: sans-serif;
    background-color: aquamarine;
}

header{
    text-align: center;
}

img{
    border-radius: 50%;
    height: 260px;
    width: 290px;
}

main{
    padding: 20px 10px 60px 10px ;
    border-radius: 60px;
    margin: auto;
    width: 500px;
    background-color: white;
    text-align: center;
}