body{
    font-family: sans-serif;
    background-color: rgb(0, 147, 192);
    padding: 10px;
    
}

h1{
    text-align: center;
    color: white;
    font-size: 10mm;
    text-shadow: 2px 2px 4px black;
}

section{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

footer{
    text-align: center;
    margin-top: 10px;
    color: white;
}